<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="/feed" title="{{ blog_name }}" />
    <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}" />
</head>
<body>
    <div id="wrapper" class="yue">
        <header id="header">
            <a href="{{ blog_url }}" id="site_name">{{ blog_name }}</a>
            <nav>
                <a href="/articles">Articles</a>
                {% for page in handler.get_custom_page() %}
                <a href="/page/custom/{{ page.id }}">{{ page.title }}</a>
                {% end %}
            </nav>
        </header>
        <div id="content">
        {% block content %}
        {% end %}
        </div>
        <footer id="footer">
            <div><a href="/admin">Admin</a> & <a href="/feed">RSS</a></div>
            Powered by <a href="https://github.com/JmPotato/Pomash">Pomash</a>
            &
            Theme <a href="https://github.com/whtsky/catsup-theme-clean">Clean</a> by <a href="http://whouz.com">whtsky</a> and modified by <a href="http://ipotato.me">JmPotato</a>
        </footer>
    </div>
</body>
</html>
